// heights and widths
$mainpage-gallery-image-height: 25rem;
$modal-gallery-image-height: 80vh;

$navbar-height: 7.5rem;

$sidebar-width: 25rem;
$sidebar-head-height: $navbar-height;
$sidebar-filter-height: 5rem;
$sidebar-filter-width: $sidebar-filter-height;