.sidebar-mainboard-search-box {

  input[type=text] {
    padding: 0.8rem;
    border: 0.2rem solid $fontcolor-basic-primary; 
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
  }
}

nav.mainboard-pages-list {

  width: 100%;
  
  ul {
    list-style-type: none;
    width: 100%;
  }

  > ul {
    padding: 0;
  }

  a {
    color: $fontcolor-basic-primary;
    text-decoration: none;
  }
}

div.page-list-item {
  cursor: pointer;
  display: flex;
  width: 95%;
  justify-content: flex-start;
  align-items: center;

  transition: 0.3s ease-out;

  &:hover {
    background-color: $color-basic-secondary;
    transition: 0.3s ease;
  }
}

.mainboard-icon {
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainboard-icon-arrow {
  display: block;
  position: relative;
  margin-left: auto;
  @include transition(0.5s);
}

.mainboard-icon-arrow-open {
  transform: rotate(-90deg);
  @include transition(0.5s);
}

ul.page-list-dropdown {
  display: none;
  @include transition(0.5s);
}

ul.page-list-dropdown-open {
  display: block;
  @include transition(0.5s);
}