.modal-wrapper-fixed {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba($color: $basecolor-black, $alpha: 0.8);
  z-index: 3;
}

.modal-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: auto;
  background-color: $basecolor-white;
  box-sizing: border-box;
}
