// base color
$basecolor-white: #ffffff;

// component's color
$color-basic-primary: #263034;
$color-basic-secondary: #171D20;

$color-red-primary: #ff5555;
$color-red-secondary: #DE5939;
$color-red-secondary-dark: darken($color-red-secondary, 20%);

// font color
$fontcolor-basic-primary: #779497;
$fontcolor-basic-secondary: #4B565B;