.navbar-notification-aside {
  margin: 0 1rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 4rem;
}

.navbar-notification-main {
  font-size: 80%;
}