.sidebar-head {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7.5rem;
  background-color: $color-red-primary;
}

.sidebar-avatar {

  margin-right: 2rem;
  img {
    border-radius: 50%;
  }
}