.sidebar-head {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $navbar-height;
  // background-color: $color-red-primary;

  p {
    margin-right: 0.5rem;
  }

  transition: 0.3s ease-out;

}

.sidebar-avatar {

  display: flex;
  align-items: center;
  margin-right: 1rem;

  img {
    border-radius: 50%;
  }
}

.sidebar-lock-button {
  cursor: pointer;
}