.sidebar-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: #000;
    text-decoration: none;
  }
}

.filter-item {
  height: 5rem;
  width: 5rem;
  background-color: $color-red-secondary;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $color-red-secondary-dark;
  }
  
}