.modal-theme-changer-wrapper {
  width: 60rem;
}

.modal-box-header {
  position: relative;
  height: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 5rem;
  margin-top: 2rem;
  box-sizing: border-box;
}

.modal-close-button {
  cursor: pointer;
  transition: 0.3s ease-out;

  &:hover {
    color: $fontcolor-basic-secondary;
    transition: 0.3s ease;
  }
}

.modal-box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.color-picker-box {
  height: 10rem;
  width: 10rem;
  border-radius: 1rem;
  margin: 2rem 5rem;
  cursor: pointer;
  transition: 0.3s ease-out;

  &:hover {
    transition: 0.3s ease;
  }
}